
<div class="header">
    <h1>Bekir</h1>
    <div class="TextList">
        <ul class="list">
            <li><button routerLink="aboutme" mat-button class="btn btn-primary">About Me</button></li>
            <li><button routerLink="projects" mat-button class="btn btn-primary">Experience</button></li>
            <li><button routerLink="otherprojects" mat-button class="btn btn-primary"> Other Projects</button></li>
            <li><button routerLink="hireme" mat-button class="btn btn-primary"> Hire Me</button></li>
            
        </ul>
    
    </div>
    
    

</div>


