
<div id="wrapper">
<img class="img" src="/assets/picture1.jpg" alt="Bekir"style="width:300px;height:400px;border-radius:20px;">
<div id="rightside">
    <h1>Bekir Hadziomerovic</h1>
    <div class="objective">
        <h2>Objective</h2>
        <p>I am a highly motivated fourth-year student pursuing a bachelor’s degree in Computer
            Science at Sarajevo School of Science and Technology and available for full-time positions.
            My main interests regarding the IT industry are cybersecurity, databases, and Full Stack
            development.</p>
        </div>
    
        <div class="background">
            <h2>Background</h2>
            <p>As a student of the Sarajevo School of Science and Technology I posses a great number of varied skills and knowledge pertaining to several different fields. My main interest is in backend development, however I am someone who is very flexible and can learn quickly.
                I have a lot of experience with various projects and hackathons. 
            </p>
            </div>
            <div class="skillbars">
                <div>
                    <p>Frontend</p>
                    <mat-progress-spinner
                     class="example-margin"
                      [color]="color"
                         [mode]="mode"
                         [value]="value">
                    </mat-progress-spinner>
                    <p>99% Progress</p>
                </div>
                
                <div>
                     <p>Backend</p>
                <mat-spinner [color]="color"
                [mode]="mode"
                [value]="value">
                </mat-spinner>
                <p>99% Progress</p></div>
               <div>
                <p>SoftSkills</p>
                <mat-spinner [color]="color"
                [mode]="mode"
                [value]="value">
                </mat-spinner>
                <p>99% Progress</p></div>
                <div>
                    <p>Overconfidence</p>
                    <mat-spinner [color]="color"
                    [mode]="mode"
                    value= 100>
                    </mat-spinner>
                    <p>100% Progress</p></div>
            </div>
</div>
</div>

       



