<div id="projects">

    <h1>Intern at PING d.o.o</h1>
    <p>Worked as an Intern maintaining and improving their internal React.js library. During my internship position I was tasked with learning React, bug fixing,
        developing, and expanding components based on the Ant Design library; during this
        process I became proficient with Git and version control as well as React.js</p>
</div>
<div id="projects">
    <h1>Bicom Systems Hackathon 2021</h1>
        <p>My main responsibility within my team was to design and create the database for our
        website that was aimed at improving Patient-Doctor communication by enabling
        online consultations . For this project I used MariaDB as part of XAMP to set up and
        manage the database. Frontend was developed using HTML and CSS, backend was
        implemented through PHP.</p>
</div>
<div id="projects">
    <h1>Intradisciplinary University project</h1>
        <p>University Intradisciplinary Project with Web Design, Databases, and Cloud
            Computing. As a part of this group project, I demonstrated strong technical and
            teamwork skills. My main responsibility was to design and create the database, and
            connect the database and website. Technologies used were HTML, CSS, PHP and
            Oracle Cloud.</p>
        </div>
<div id="projects">
    <h1>University Cybersecurity project</h1>
         <p>I created a server that I then attacked using the Log4J Exploit as a part of a 0-day
            vulnerability attack demonstration for my class.</p>
    
</div>
<div id="projects">
    <h1>University Cybersecurity project</h1>
            <p>I created a server that I then attacked using the Log4J Exploit as a part of a 0-day
               vulnerability attack demonstration for my class.</p>
</div>
    