<div id="projects">

    <h1>Head of SSST Sports and Sports Cup Head Organizer</h1>
    <p>I run the university sports cup, and I have organized an event called Sports cup that attracted over 100 people</p>
</div>
<div id="projects">
    <h1>Student tutor</h1>
        <p>As a student tutor I offer tutoring in many fields such as Programing and Problem Solving 1 & 2, Computer Architecture, and
            English.</p>
</div>
<div id="projects">
    <h1>I have extensive leadership training and practice as a part of the European Youth
        Parliament.</h1>
        <p>As a former member of the European Youth Parliment, I have aquired a wide range of soft skills and knowledge.</p>
        </div>
